[Unit]
Description=farm-ng web services
Requires=tractor-webservices-port.service
After=network-online.target

[Service]
ExecStart=/home/farmer/tractor/build/farm-ng-webservices
WorkingDirectory=/opt/farm_ng/systemd
StandardOutput=inherit
StandardError=inherit
Restart=always
Environment=PORT=80
NonBlocking=true

[Install]
WantedBy=multi-user.target
